apiVersion: apps/v1
kind: Deployment
metadata:
  name: titanic-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titanic
  template:
    metadata:
      labels:
        app: titanic
    spec:
      containers:
      - name: titanic-container
        image: wolfpackstatmathieu/application-correction:v10.0.2
        ports:
        - containerPort: 8000

